html, body {
    margin: 0;
    padding: 0;
}

html { font-size: 100%; }

/* Fonts */
.headerTxt{
    font-family: "Zalando Sans Expanded", sans-serif;
    font-size: 2rem;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: rgb(255, 255, 255);
}

.subheaderTxt{
    font-family: "Zalando Sans Expanded", sans-serif;
    font-size: 2rem;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
}

.gradientText{
    color: white;
    background: linear-gradient(orangered, orange);
    background-position: 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.otherTxt{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25rem;
    /* font-optical-sizing: auto; */
    font-weight: 200;
    font-style: normal;
    color: rgb(255, 255, 255);
}

/* Sections */
body{
    text-align: left;
    background-color: rgb(22, 22, 22);
}

/* In the Header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* width: 97%; */
    background-color: rgba(22, 22, 22);
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content: space-around;
    padding: 1rem 0;
    align-items: center;
    z-index: 10;
}

#title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

h1{
    letter-spacing: 4pt;
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
}

#title img{
    max-width: 70px;
    height: auto;
}

#tabs{
    display: flex;
    justify-self: right;
    align-items: center;
}

nav{
    display: block;
    float: none;
}

a{
    color: white;
    text-decoration: none;
}

nav a{
    display: inline-block;
    padding-left: 6pt;
    padding-right: 6pt;
    font-size: 1.25rem;
}

.navAHover{
    /* text-decoration: underline; */
    /* font-weight: bold; */
    color: orange;
}


/* In the Main */
main{
    margin: 10%;
    margin-top: 10rem;
}

.leftAdjust{
    text-align: left;
}


#knowTheDifference{
    padding: 1.5rem;
    margin: 1rem;
    background-color: rgb(49, 49, 49);
}

.bodyText{
    margin-left: 5%;
    margin-right: 5%;
}

.snippet{
    display: flex;
    align-items: center;
}

.snippet img{
    max-width: 10rem;
    height: auto;
    margin-right: 3rem;
    /* margin: 0 3rem; */
    float: left;
}

.snippet p{
    flex: 1;
}

/* In the footer */
footer{
    text-align: center;
    height: 200px;
    background-color: rgb(0, 0, 0);
    padding: 20px;
}

  /* .inactive{display: none;} */

b{
    font-weight: bold;
}

/* @media (max-width: 1300px ){
    .gridLayout{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
} */

@media (max-width: 940px ){
    html { font-size: 70%; }
}

@media (max-width: 700px ){
    html { font-size: 60%; }
    main{ margin-top: 15rem; }
}

@media (max-width: 370px ){
    html { font-size: 50%; }
    header{
        flex-direction: column;
    }

}