html, body {
    margin: 0;
    padding: 0;
}

html { font-size: 100%; }

/* Fonts */
.headerTxt{
    font-family: "Zalando Sans Expanded", sans-serif;
    font-size: 2rem;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: rgb(255, 255, 255);
}

.subheaderTxt{
    font-family: "Zalando Sans Expanded", sans-serif;
    font-size: 2rem;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
}
.gradientText{
    color: white;
    background: linear-gradient(orangered, orange);
    background-position: 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.otherTxt{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25rem;
    /* font-optical-sizing: auto; */
    font-weight: 200;
    font-style: normal;
    color: rgb(255, 255, 255);
}



/* Sections */
body{
    text-align: left;
    background-color: rgb(22, 22, 22);
    /* background-color: beige; */

}

h1{
    text-align: left;
    letter-spacing: 4pt;
}

h2{
    text-align: left;
    font-size: 3.5rem;
}

h3{
    text-align: left;
    font-size: 2rem;
}


/* In the Header */
header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 0;
    z-index: 10;
}

#title h1{
    text-align: left;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    width: fit-content;
}
/* 75d3ff */

#title{
    display: flex;
    height: fit-content;
    align-content: center;
    justify-self: center;
    margin: 10rem 0;
}

#title div{
    display: flex;
    width: fit-content;
    justify-content: space-around;
    gap: 1rem;
}

#title img{
    display: flex;
    align-self: center;
    width: 6rem;
    height: 6rem;
}

.bgImg{
    height: 99vh;
    width: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)),
    url("../Images/solar1_cut.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#tabs{
    height: fit-content;
    display: flex;
    justify-self: right;
    align-items: center;
    padding: 2rem;
}

/* .headScroll{
    position: fixed;
    /* width: 80vw; */
    /* font-size: smaller; 
    background-color: white;
    /* background-color: rgba(255, 255, 255, 0.5); 
} */

/* .headStay #tabs{
    padding-top: 40px;
} */

/* .title{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .title a:has(h1){
    justify-self: left;
    align-self: left;
    width: fit-content;
    padding-left: 30px;
    padding-right: 40px;
} */


/* header img{
    float: left;
    height: 5rem;
    width: auto;
} */

nav{
    display: block;
    float: none;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav a{
    display: inline-block;
    padding-left: 6pt;
    padding-right: 6pt;
    /* font-size: 1.25rem; */
}

.navAHover{
    /* text-decoration: underline; */
    /* font-weight: bold; */
    color: orange;
}

/* Message */
/* .message{
    display: flex;
    border-top: 30px solid  white(19, 19, 19);
    border-bottom: 30px solid  white(19, 19, 19);
    justify-content: center;
} */

/* .message p{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
    align-self: center;
    margin: 10rem;
} */

/* In the Main */
.section{
    margin: 0%;
    /* margin-top: 2%;
    margin-bottom: 2%; */
    padding: 3% 8%;
} 

.bodyText{
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}

#services{
    /* background-color: rgb(255, 239, 223); */
    /* margin: 0%;
    margin-bottom: 5%;
    padding: 5% 10%; */

}

#plans{
    height: 50%;
    width: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    /* url("../Images/solar2_cut.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: bottom; */
}

#plans::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: radial-gradient(circle, transparent 60%, black 100%);
    opacity: 0.4;
    pointer-events: none;
}

.gridLayout{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.carousel{
    width: 100%;
    height: 40rem;
    padding: 1rem;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 4vw;
}

.panel{
    list-style-type: none;
    background-color:rgb(22, 22, 22);
    border: 1px solid #000000;
    flex: 0 0 100%; 
}

.panel:nth-child(even) {
  background-color: rgb(22, 22, 22);
}

.carousel{
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

.panel {
  scroll-snap-align: center;
}

.carousel {
  anchor-name: --my-carousel;
  scroll-marker-group: after;
}

.carousel::scroll-marker-group {
  position: absolute;
  position-anchor: --my-carousel;
  top: calc(anchor(bottom) - 70px);
  justify-self: anchor-center;

  display: flex;
  justify-content: center;
  gap: 20px;
}
.panel::scroll-marker {
  content: attr(data-accName);
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  overflow: hidden;
  text-indent: 16px;
}
.panel::scroll-marker:target-current {
  background-color: rgb(255, 255, 255);
}

/* .panel{
    display: inline-block;
    height: 20rem;
    width: 30rem;
    text-align: center;
    border: 2px solid black;
    margin: 0.5rem;
    overflow: hidden;
} */

.panelLong{
    display: inline-block;
    height: 35rem;
    width: 31rem;
    /* height: 200px;
    width: 400px; */
    text-align: center;
    background-color:  rgb(50, 50, 50);
    /* border: 3px solid rgb(247, 178, 109); */
    border-radius: 15%;
    margin: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

#higherPlan{
    background: linear-gradient(orangered, orange);
    color: black;
}

.blackTxt{
    color: black;
}

.subPanel{
    position: relative;
}

.planSubPanel{
    position: relative;
    padding: 1rem;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    /* color: #DAD3BE; */
}

.label{
    font-size: 2rem;
    position: absolute;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    top: 0%;
    padding-top: 10%;
    width: 100%;
    height: auto; 
    z-index: 1;
    /* opacity: 0; */
}

.planHeading{
    font-size: 1rem;
    color: Black;
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
    height: auto; 
    z-index: 1;
    padding: 1rem 0;
}

.panel img{
    object-position: center;
    width: 100%;
    height: 40rem;
    object-fit: cover;
    z-index: 0;
    opacity: .6;
    filter: brightness(60%);
}

.benefitsList{
    margin: 2rem;
    text-align: left;
}

.learnMoreBtn p{
    padding: 0;
    margin: 0;
}

.learnMoreBtn{
    width: fit-content;
    height: fit-content;
    padding: 0.75rem;
    align-self: center;
    background-color:rgb(22, 22, 22);
}

#serviceMsg{
    color: white;
}


#serviceMsg a{
    color: white;
}

/* Reviewa */
.reviews{
    display: flex;
    justify-content: space-around;
    float: none;
    margin-bottom: 5%;
    margin-top: 5%;
}

.review img{
    width: 90%;
    height: auto;
}

/* Partners */
.partners{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.partners img{
    width: 30%;
}

/* In the footer */
footer{
    text-align: center;
    height: 150px;
    background-color: rgb(0, 0, 0);
    padding: 4rem;
}

  /* .inactive{display: none;} */

.bold{
    font-weight: bold;
    /* text-decoration-line: underline; */
}

@media (max-width: 1300px ){
    .gridLayout{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 940px ){
    html { font-size: 70%; }
}

@media (max-width: 700px ){
    html { font-size: 60%; }
}

@media (max-width: 370px ){
    html { font-size: 50%; }
}