/* Fonts */
.headerTxt{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: white;
}

.otherTxt{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: white;
}

/* Sections */
body{
    margin: 0;
    text-align: center;
    background-color: rgb(19, 19, 19);

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

/* In the Header */
header{
    margin-left: 10vw;
    margin-right: 10vw;
}

.headScroll{
    position: fixed;
    width: 80vw;
    font-size: smaller;
    background-color: rgba(0, 0, 0, 0.5);
}

#tabs{
    justify-self: right;
    align-items: center;
} 

.headStay #tabs{
    padding-top: 40px;
}

.title{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title a:has(h1){
    justify-self: left;
    align-self: left;
    width: fit-content;
    padding-left: 30px;
    padding-right: 40px;
}

h1{
    letter-spacing: 4pt;
}

header img{
    float: left;
    height: 5rem;
    width: auto;
}

nav{
    display: block;
    float: none;
}

a{
    color: white;
    text-decoration: none;
}

nav a{
    display: inline-block;
    padding-left: 6pt;
    padding-right: 6pt;
    font-size: 1.25rem;
}

.navAHover{
    text-decoration: underline;
    font-weight: bold;
}

/* Message */
.message{
    display: flex;
    border-top: 30px solid  rgb(19, 19, 19);
    border-bottom: 30px solid  rgb(19, 19, 19);
    justify-content: center;
}

.message p{
    /* width: 25%;
    height: 50%;
    margin-left: 20%;
    background-color:  rgb(19, 19, 19); */
    /* display: flex; */
    font-size: 2rem;
    font-weight: bold;
    align-self: center;
    margin: 50px;
}

.bgImg{
    width: 80vw;
    height: 100vh;
    margin-left: 10vw;
    margin-right: 10vw;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)),
    url("../Images/placeholder.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* filter: brightness(30%); */
}

/* In the Main */
main{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
}


.snippet{
    display: flex;
    align-items: center;
}

.snippet img{
    margin-right: 50px;
    float: left;
}

.snippet p{
    flex: 1;
}

.reviews{
    float: none;
    margin-bottom: 5%;
    margin-top: 5%;
}

/* In the footer */
footer{
    height: 200px;
    background-color: black;
    padding: 20px;
}

/* .gradient-background {
  background: linear-gradient(300deg, rgba(228, 0, 0, 0.4), rgba(214, 116, 0, 0.4), rgba(241, 203, 0, 0.4));
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } */

  .inactive{display: none;}



